@font-face {
    font-family: myFont;
    src: url("./font/typewcond_regular.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
    color: #000000d0;
}

body {
    background: #A1FFCE;
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);

}

a {
    position: fixed;
    opacity: 0.5;
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-top: 10px;
    transition: all 0.4s ease;
}

a:hover {
    opacity: 0.8;
}

.player {
    text-align: center;
    margin-top: 45px;
}

#now-playing {
    font-size: 1rem;
}

#song-name,
#artist-name {
    font-size: 1.4rem;
}

#artist-name {
    transition: all 0.1s ease;
    cursor: pointer;
}

#artist-name:hover {
    color: #65c995;
}

#song-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    border-radius: 14px;
}

.buttons {
    padding: 15px;
    margin-bottom: 10px;
}

.buttons div {
    display: inline;
}

.buttons i {
    cursor: pointer;
    transition: all 0.2s ease;

}

.buttons i:hover {
    color: #000000;
}

#previous-song,
#next-song {
    font-size: 2rem;
}

#play-pause {
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-play-circle:hover {
    transform: scale(1.05);
}

.fa-pause-circle:hover {
    transform: scale(1.05);
}

.slider div,
input {
    display: inline;
    margin-bottom: 15px;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
}

#song-slider {
    width: 250px;
}

#volume-slider {
    margin-left: 10px;
    width: 150px;
}

input[type="range"]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    background: #7EDAAA;
}

input[type=range]::-moz-range-track {
    height: 8px;
    cursor: pointer;
    background: #7EDAAA;
}

input[type=range]::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    border-radius: 5px;
    background: #000000d0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
    transition: all 0.2s ease;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: #000000;
    transform: scale(1.03);
}

input[type=range]::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border-radius: 5px;
    background: #000000d0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
    transition: all 0.2s ease;
}

input[type=range]::-moz-range-thumb:hover {
    background-color: #000000;
    transform: scale(1.03);
}

input[type=range]::-ms-thumb {
    height: 14px;
    width: 14px;
    border-radius: 5px;
    background: #000000d0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
    transition: all 0.2s ease;
}

input[type=range]::-ms-thumb:hover {
    background-color: #000000;
    transform: scale(1.03);
}

@media screen and (max-width: 300px) {
    #song-slider {
        width: 185px;
    }

    #volume-slider {
        width: 85px;
    }
}